@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    font-family: "Roboto", sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.home {
    text-align: center;
    line-height: 2em;
}

.bold {
    font-weight: bold;
    color:rgb(98, 154, 219);
}

.home a {
    color:rgb(98, 154, 219);
}
.home .title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}

.informacoes {
    text-align: center; 
}

.container {
    width: 620px;
    height: 90%;
    background-color: #fff;
    margin: 5% auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
