<div class="card p-shadow-2 container home">
    <br><br>
    <h1 class="title">Bem Vindo(a)!</h1>
    <br>
    <div class="subtitle">
        <p class="mensagem">
            Somos alunos de Sistemas de Informação da
            Coordenação de Informática do IFAL - Campus Maceió.
            Este é um projeto da prática extensionista do 5º período.
         </p>
    </div>
    <br>
    <p class="bold">Equipe de Manutenção do Sistema: </p><br>
    <p class="informacoes">
        Bruno Artur Torres Lopes Pereira<br>
        Lucas Duarte Soares Barbosa<br>
        Mayara Rysia de Assis Lima<br>
        Wellici Jacinto de Araújo<br>
    </p>
    <p class="informacoes">
        <a href="https://www.google.com.br/maps/place/Instituto+Federal+de+Alagoas+-+Campus+Macei%C3%B3/@-9.6640396,-35.7325196,17z/data=!3m1!4b1!4m5!3m4!1s0x701457996307ad5:0x1d22c2c44f26f853!8m2!3d-9.6640396!4d-35.7303309" target="_blank">
            Av. do Ferroviário, 530 - Centro, Maceió - AL, 57020-600
        </a>
    </p>
</div>
