<div class="card">
  <p-dataView
    #dv
    [value]="items"
    [rows]="5"
    filterBy="name"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
    layout="list"
  >
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <p-dropdown
          [options]="sortOptions"
          [(ngModel)]="sortKey"
          placeholder="Procurar por skill"
          (onChange)="onSortChange($event)"
          styleClass="p-mb-2 p-mb-md-0"
        ></p-dropdown>
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input
            type="search"
            pInputText
            placeholder="Procurar por nome"
            (input)="dv.filter($event.target.value)"
          />
        </span>
      </div>
    </ng-template>
    <ng-template let-item pTemplate="listItem">
      <div class="p-col-12 container-item" (click)="handleClickItem(item)">
        <div class="product-list-item">
          <img [src]="'assets/images/jobs-default.jpeg'" [alt]="item.name" />
          <div class="product-list-detail">
            <div class="product-name">{{ item.name }}</div>
            <div class="product-description">{{ item.title }}</div>
            <div class="container-chips">
              <p-chip
                *ngFor="let skill of item.skills"
                [style]="{
                  'background-color': '#' + skill?.color,
                  color: '#fff'
                }"
                [label]="skill?.name"
                styleClass="p-mr-2 custom-chip"
              ></p-chip>
            </div>
            <span class="product-category">{{ item.category }}</span>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>
<!-- <app-modal-item
  [title]="dataModal?.name"
  [display]="displayModal"
  [description]="dataModal?.description"
  [closeModal]="closeModal"
></app-modal-item> -->

<p-dialog
  [header]="dataModal?.name"
  [(visible)]="displayModal"
  [style]="{ width: '60vw' }"
  [closable]="true"
  *ngIf="displayModal"
>
  <!-- {{ dataModal?.description }} -->

  <markdown>
    {{ dataModal?.description }}
  </markdown>
  <ng-template pTemplate="footer">
    <p-button
      icon="pi pi-check"
      (click)="handleRedirect()"
      label="Mostrar detalhes"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
<p-paginator
  [rows]="10"
  [totalRecords]="10000"
  [rowsPerPageOptions]="[5, 10, 15, 20, 25, 30]"
  (onPageChange)="paginate($event)"
></p-paginator>
