.box-recover-password {
  width: 350px;
  height: 150px;
  background-color: #fff;
  margin: auto;
  margin-top: 15%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.field-full-width {
  width: 85%;
}
