.container {
  width: 620px;
  height: 100%;
  background-color: #fff;
  margin: 5% auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.field-width {
  width: 80%;
}

.container-buttons {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 31rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .country-item-value {
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: 0.5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    img.flag {
      width: 17px;
    }
  }

  .country-placeholder {
    padding: 0.25rem;
  }
}
:host ::ng-deep {
  @media screen and (max-width: 640px) {
    .p-multiselect {
      width: 100%;
    }
  }
}
