<div class="card p-shadow-2 container">
  <div class="container-label">
    <h3>Complete o seu perfil</h3>
  </div>

  <p-multiSelect
    [options]="likeInTheVacancies"
    [(ngModel)]="selectedLikeInTheVacancies"
    defaultLabel="Selecione"
    optionLabel="name"
    selectedItemsLabel="{0} items selected"
    class="select-item"
  ></p-multiSelect>

  <p-multiSelect
    [options]="institutions"
    [(ngModel)]="selectedInstitutions"
    defaultLabel="Selecione a instituição de ensino"
    optionLabel="name"
    selectedItemsLabel="{0} items selected"
    selectionLimit="1"
    class="select-item"
  ></p-multiSelect>

  <p-multiSelect
    [options]="courses"
    [(ngModel)]="selectedCourses"
    defaultLabel="Selecione seu curso"
    optionLabel="name"
    selectedItemsLabel="{0} items selected"
    selectionLimit="1"
    class="select-item"
  ></p-multiSelect>

  <p-multiSelect
    [options]="periods"
    [(ngModel)]="selectedPeriods"
    defaultLabel="Selecione o seu periodo atual"
    optionLabel="name"
    selectedItemsLabel="{0} items selected"
    selectionLimit="1"
    class="select-item"
  ></p-multiSelect>
  <div class="container-address">
    <input
      type="text"
      pInputText
      [(ngModel)]="zipCode"
      placeholder="CEP"
      class="field-full"
    />
    <input
      type="text"
      pInputText
      [(ngModel)]="country"
      placeholder="País"
      class="field-full"
    />
    <div>
      <input
        type="text"
        pInputText
        [(ngModel)]="city"
        placeholder="Cidade"
        class="middle-field"
      />
      <input
        type="text"
        pInputText
        [(ngModel)]="uf"
        placeholder="UF"
        class="small-field"
      />
    </div>
    <div>
      <input
        type="text"
        pInputText
        [(ngModel)]="street"
        placeholder="Rua"
        class="middle-field"
      />
      <input
        type="text"
        pInputText
        [(ngModel)]="houseNumber"
        placeholder="N°"
        class="small-field"
      />
    </div>
  </div>
  <div class="container-buttons">
    <button
      pButton
      type="button"
      label="Pular"
      class="p-button-raised p-button-text"
      (click)="handleJump()"
    ></button>
    <button
      pButton
      type="button"
      label="Concluir cadastro"
      (click)="handleContinueRegister()"
    ></button>
  </div>
</div>
