<div class="header-container">
  <a (click)="handleNavigateHome()">
    <img class="header-logo" src="assets/images/openjobs.png" alt="Open Jobs" />
  </a>

  <div
    class="container-buttons"
    [class.justify_initial]="!authService.userAuthenticated.value"
  >
    <button
      pButton
      pRipple
      type="button"
      label="Sobre nós"
      class="p-button-raised p-button-text"
      (click)="handleNavigateAboutUs()"
      *ngIf="!authService.userAuthenticated.value"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Perfil"
      class="p-button-raised p-button-text"
      (click)="handleNavigateProfile()"
      *ngIf="authService.userAuthenticated.value"
    ></button>
    <button
      pButton
      pRipple
      type="button"
      label="Sair"
      class="p-button-raised p-button-text"
      (click)="handleNavigateAuth()"
      *ngIf="authService.userAuthenticated.value"
    ></button>
  </div>
</div>
