.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px;
  background-color: #fff;
  height: 70px;
}
.header-logo {
  height: 70px;
  cursor: pointer;
}

.container-buttons {
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.justify_initial {
  justify-content: flex-end !important;
}
