.box-login {
  width: 350px;
  height: 425px;
  background-color: #fff;
  margin: auto;
  margin-top: 10%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.field-full-width {
  width: 85%;
}
.container-login-logo {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 85%;
}
.box-login-logo {
  height: 85px;
  width: 200px;
  margin: 30px auto;
}
.container-login-logo > h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.container-buttons {
  width: 85%;
}
.button-link-recover-password {
  display: flex;
  margin: auto;
}
.container-button-register {
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    margin-left: 10px;
  }
}
@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: #fff;
    color: #fff;
  }
  40% {
    stroke: #fff;
    color: #fff;
  }
  66% {
    stroke: #fff;
    color: #fff;
  }
  80%,
  90% {
    stroke: #fff;
    color: #fff;
  }
}
