<app-header></app-header>

<div class="card p-shadow-2 box-login">
  <div class="container-login-logo">
    <h3>Login</h3>
    <img
      class="box-login-logo"
      src="assets/images/openjobs.png"
      alt="Open Jobs"
    />
  </div>
  <div class="p-fluid field-full-width">
    <div class="p-field">
      <input id="email" type="email" pInputText placeholder="E-mail" />
    </div>
  </div>
  <div class="p-fluid field-full-width">
    <div class="p-field">
      <input id="password" type="password" pInputText placeholder="Senha" />
    </div>
  </div>
  <button
    pButton
    type="button"
    label="Entrar"
    class="field-full-width"
  ></button>
</div>
