<div class="card p-shadow-2 box-login">
  <div class="container-login-logo">
    <h3>Login</h3>
    <img
      class="box-login-logo"
      src="assets/images/openjobs.png"
      alt="Open Jobs"
    />
  </div>
  <div class="p-fluid field-full-width">
    <div class="p-field">
      <input
        id="email"
        type="email"
        pInputText
        placeholder="E-mail"
        [(ngModel)]="email"
      />
    </div>
  </div>
  <div class="p-fluid field-full-width">
    <div class="p-field">
      <input
        id="password"
        type="password"
        pInputText
        placeholder="Senha"
        [(ngModel)]="password"
      />
    </div>
  </div>
  <button
    pButton
    type="button"
    [label]="authService.loading.value ? ' ' : 'Entrar'"
    class="field-full-width"
    (click)="handleLogin()"
  >
    <p-progressSpinner
      *ngIf="authService.loading.value"
      [style]="{ width: '20px', height: '20px', 'margin-left': '124px' }"
      strokeWidth="10"
      fill="#FFFFFF"
      animationDuration=".5s"
    ></p-progressSpinner>
  </button>
  <div class="container-buttons">
    <button
      pButton
      type="button"
      label="Esqueci minha senha"
      class="p-button-link button-link-recover-password"
      (click)="handleRecoverPassword()"
    ></button>
    <div class="container-button-register">
      <h4>Não tem conta?</h4>
      <button
        pButton
        pRipple
        type="button"
        label="Cadastre-se"
        class="p-button-raised p-button-text"
        (click)="handleRegister()"
      ></button>
    </div>
  </div>
</div>
